<!DOCTYPE html>
<html>
  <head>
    <title>自動書籤產生器</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- fontawesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid" style="padding: 0">
      <nav class="navbar navbar-dark bgCol_purple">
        <a class="navbar-brand" href="#">
          自動書籤產生器
        </a>
      </nav>
      <div class="row no-gutters disFlex">
        <div id="left_con">
          <div class="sidebarColor bg-dark">
            <div class='bar_title vhCenter'>
              <span>書籤設定</span>
              <span id='right_icon' class='expandIcon' onclick='expand(true)'><i class="fas fa-angle-double-right"></i></span>
              <span id='left_icon' class='expandIcon' onclick='expand(false)'><i class="fas fa-angle-double-left"></i></span>
            </div>
            <div align='center'>
              <button type="button" class="btnStyle mark_btn" onclick="dcreate()">
                <div class='display_inline'>新增</div>
                <div class='display_inline'>書籤</div>
              </button>
              <button type="button" class="btnStyle mark_btn" onclick="drename()">
                <div class='display_inline'>更名</div>
                <div class='display_inline'>書籤</div>
              </button>
              <button type="button" class="btnStyle mark_btn">
                <div class='display_inline'>搬移</div>
                <div class='display_inline'>書籤</div>
              </button>
              <button type="button" class="btnStyle mark_btn" onclick="ddelete()">
                <div class='display_inline'>刪除</div>
                <div class='display_inline'>書籤</div>
              </button>
            </div>
            <div id="tree" class="tree_con">
              <div id="catTree">
                <ul class="n1">
                  <li>
                    書籤
                    <ul class="n2">
                        <li>
                            <a class="menu" href="#section1">Section 1</a>
                        </li>
                        <li>
                            <a  class="menu" href="#section2">Section 2</a>
                        </li>
                        <li>
                            <a class ="menu" href="#section3">Section 3</a>
                        </li>
                        <li>
                            <a class ="menu" href="#section4">Section 4</a>
                        </li>
                        <li>
                            <a class="menu" href="#section5">Section 5</a>
                        </li>
                        <li>
                            <a class="menu" href="#section6">Section 6</a>
                        </li>
                        <li>
                            <a class="menu" href="#section7">Section 7</a>
                        </li>
                        <li>
                            <a class="menu" href="#section8">Section 8</a>
                        </li>
                        <li>
                            <a class="menu" href="#section9">Section 9</a>
                        </li>
                        <li>
                            <a class="menu" href="#section10">Section 10</a>
                        </li>
                        <li>
                            <a class="menu" href="#section11">Section 11</a>
                        </li>
                        <li>
                            <a class="menu" href="#section12">Section 12</a>
                        </li>
                    </ul>
                  </li>
                </ul>
                <ul class="n1">
                  <li>
                    abc
                    <ul clas="n2">
                      <li>
                        <a class="menu" href="#section1">GOGOGO 1</a>
                    </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id='center_con'>
          <div class="mainColor">
            <!-- <nav class="nav nav-tabs" role="tablist">
              <a href="#" role="tab" data-rb-event-key="home" id="uncontrolled-tab-example-tab-home" aria-controls="uncontrolled-tab-example-tabpane-home" aria-selected="true" class="nav-item nav-link active">建立關聯</a>
            </nav> -->
            <div>
              <button class='btnStyle create_btn'>建立關聯</button>
            </div>
            <div class="tab-content">
              <div id="uncontrolled-tab-example-tabpane-home" aria-labelledby="uncontrolled-tab-example-tab-home" role="tabpanel" aria-hidden="false" class="fade tab-pane active show">
                <div class="form-group">
                  <div id="bookMarkText" class='show_content'></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="right_con">
          <div class="bgColor bg-dark">
            <div class='bar_title'>檔案匣</div>
            <ul>
              <% for(let i=0; i<value.length; i++) {%>
                <li>
                  <div class='fileName' onclick="getData('<%= i %>', '<%= value[i] %>')"><%= value[i] %></div>
                  <!-- <button class='marBottom5' name="<%= value[i] %>" onclick="getData(this.name)"><%= value[i] %></button> -->
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script src="javascripts/main.js"></script>

    <script>
      expand();
    </script>
  </body>
</html>
