.vhCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.disFlex {
  display: flex;
}

.flexCol {
  flex-direction: column;
}

.flexFull {
  flex: 1;
}

#left_con, #center_con, #right_con {
  transition: all 0.2s ease-in-out;
}

#left_con, #right_con {
  flex: 0.2;
}

#center_con {
  flex: 0.6;
}

a {
  color: #00B7FF;
}

.display_inline {
  display: inline-block;
}

.bgCol_purple {
  background-color: #880e4f;
}

.bgColor {
  height: calc(100vh - 56px);
  position: relative; 
}

.mainColor {
  width: 100%;
  height: calc(100vh - 56px);
  padding: 0px 10px 10px;
  background-color: #f1f1f1;
}

.sidebarColor {
  height: calc(100vh - 56px);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
}

.text {
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  text-align: center;
}

.item {
  margin-top: 10px;
  background-color: blue;
  border: 1px solid black;
  color: white;
}

.show_content {
  background-color: #f1f1f1;
  text-align: justify;
}

.fileName {
  padding: 2px 10px;
  color: #9e9e9e;
  cursor: pointer;
  background-color: #343a40;

  transition: all 0.2s ease-in-out;
}
.fileName:hover {
  background-color: #e7f4f9;
}
.fileName.active {
  color: black;
  background-color: white;
}

/** sidebar */
.btnBook {
  width: 80% !important;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
  background-color: white;
}

.mark_btn {
  width: 40%;
  margin: 5px;
  color: white;
  background-color: #677888;
  border: 1px solid #677888;
}

.create_btn {
  margin: 10px 0px;
  padding: 3px 5px;
  color: white;
  background-color: #cc1677;
  border: 1px solid #cc1677;
}

.btnStyle {
  border-radius: 3px;
  outline: none !important;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);
  transition: all 0.1s ease-in-out;
}

.btnStyle:active {
  text-shadow: 0 1px 1px rgba(0,0,0,0);
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0);
}

.bookMark{
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.bar_title {
  position: relative;
  color: white;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #4e4e4e;
}

.expandIcon {
  position: absolute;
  right: 10px;
  font-size: 20px;
  line-height: 12px;
  margin-top: 2px;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}
.expandIcon:hover {
  color: #677888;
}

/* tree setting */
.tree_con {
  width: 100% !important; 
  background-color: #343a40 !important; 
  color: #9e9e9e !important;
  margin-top: 10px;
}

.jstree-default .jstree-wholerow-clicked {
  background: white !important;
}

.jstree-clicked {
  color: black !important;
}



.marBottom5 {
  margin-bottom: 5px;
}
.marBottom10 {
  margin-bottom: 10px;
}

.marLR10 {
  margin: 0px 10px;
}